* {
    font-family: Arial;
}

.app-hidden {
    display: none;
}

.data-container {
    margin-left: 10px;
}

.item-list {
    list-style-type: none;
    padding:  0;
    margin-top: 10px;
    list-style-position: inside;
    width: 200px;
}

.data-container a {
    width: 200px;
}

.item-list li {
    margin: 0;
    padding:  15px;
    border: 1px outset #a9a9a9;
    margin-bottom: 5px;
    border-radius: 4px 4px 4px 4px;
    background: #d3d3d3;
    cursor: pointer;
    color: black;
    text-shadow: white 1px 0px;
    position: relative;
}

.item-list li.item-selected {
    background: orange;
}

.actions-bar {
    position: absolute;
    right: .4em;
    top: 1em;
    display: none;
}

.actions {
    float: right;
    padding:  1px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-left: 5px;
}

.edit {
    background:  url(/images/edit.png) center center no-repeat;
}

.connect {
    background:  url(/images/connection.png) center center no-repeat;
}

.reorder {
    background:  url(/images/reorder.png) center center no-repeat;
}

.delete {
    background:  url(/images/delete.png) center center no-repeat;
}

.stats {
    background: url(/images/timer.png) center center no-repeat;
}

.stats-i {
    background-image: url(/images/timer.png) !important;
}

td {
    vertical-align: top;
}

.item-list li.dropHere {
    background: #ff6600 !important;
}

.item-list li.canDrop {
    background: #006600;
    color: #ffffff;
}

.ui-draggable-disabled {
    opacity: 1 !important;
}

.btn-add {
    background-image: url(/images/add.png) !important;
}

label {
    display: block;
}

#equipage {
    vertical-align: middle;
    font-family: Verdana;
}

#equipage p {
    margin: 5px;
}

#equipage .number {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#equipage .driver {
    font-size: 18px;
}